{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="contenedor">

    <div class="info">
        <div class="titulo">
            <br>
            <h3>Quiénes somos...</h3>
        </div>
        <h5>
            Somos una empresa dedicada especificamente a la venta de videojuegos de última generación.
            <br>
            <br>
            Nos formamos a partir de la visión de ofrecer a los clientes una variedad de productos enfocados al mercado de los videojuegos,
            los cuales sean ofrecidos a un precio razonable a nuestros consumidores.
            <br>
            <br>
            
            Contamos con personal calificado y comprometido en otorgar un servicio personalizado,
            ajustado a las comodidades de nuestros clientes y respetando sus necesidades.
            <br>
            <br>
            
            Porque nos preocupamos por tu bolsillo, tenemos montones de ofertas las cuales están en constante actualización
            para que puedas ahorrar de manera efectiva y constante.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </h5>
    </div>
    
</div>
{% endblock %} 
{%block scripts %}
<script src="{% static  'js/header.js' %}"> </script>
{%endblock%}